@import '../../vars.scss';
.chart {
  position: relative;
  width: 400px;
  border: 1px solid black;
  background-color: $color-gray-700;
  padding: 10px 0;

  &__container {
    margin-bottom: 10px;
  }

  &__canvas {
    width: 100%;
  }
}

.chart--large {
  &.chart {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }
}

@media screen and (max-width: 1200px) {
  .chart {
    width: 350px;
  }
}