@import '../../vars.scss';
.chart {
  width: 400px;
  border: 1px solid black;
  background-color: $color-gray-700;
  padding: 10px 0;

  &__container {
    margin-bottom: 10px;
  }

  &__canvas {
    width: 100%;
  }
}