.heading {
  font-size: 35px;
}

.list {
  margin: 0;
  max-width: 350px;
  height: 500px;
  overflow: auto;
  background-color: rgb(70, 70, 70);
  color: #fff;
  
  &-heading {
    text-align: center;
    font-size: 25px;

    &__title {

    }

    &__data {
      &--red {
        color: red;
      }
    }
  }
  
  &__content {
    padding: 0;
    
  }

  &-item {
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    
    &__flag {
      width: 35px;
      height: 25px;
      margin-right: 20px;
    }

    &__country {
      width: 150px;
      margin-right: 10px;
    }

    &__data {
      
    }


    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-switchers {
    display: flex;

    &__label {

      &:hover {
        cursor: pointer;
      }
    }
  }
}