@import '../../vars';
.table {
  display: flex;
  flex-direction: column;
  background-color: $color-gray-700;
  color: $color-white;
  padding: 25px 0;
  margin-bottom: 75px;

  &__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  &__switcher {
    display: flex;
    justify-content: space-between;
  }

  &__cases {
    color: red;
    font-size: 20px;
  }

  &__deaths {
    color: lightgrey;
    font-size: 20px;
  }

  &__recovered {
    color: green;
    font-size: 20px;
  }
}
