@import '../../vars';
.map_element {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  background-color: $color-gray-700;
}

#map {
  margin-bottom: 20px;
  flex: 1 0 auto;
}

.map--large {
  &.map_element {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }
}
