@import '../../vars';
.switcher {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  
  button {
    position: relative;
    background-color: $color-gray-500;
    outline: none;
    border: none;
    border-radius: 8px;
    color: $color-white;
    font-weight: 600;
    font-size: 25px;
    transition: background-color .2s;

    &:hover {
      cursor: pointer;
      background-color: $color-gray-300;
    }
  }

  p {
    margin: 0;
    color: $color-white;
    font-size: 18px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
